* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    padding: 10px;
    display: flex;
    justify-content: center;
}

img {
    width: 20rem;
    margin: 1px 800px;
}

fieldset {
    border-radius: 3px;
}

#button {
    display: block;
    margin-inline: auto;
    margin-block: 1rem;
    width: fit-content;
    padding-inline: 1rem;
}

#frase-principal {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#frase-explicativa {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.inputs {
    padding: 10px;
    margin-inline: 860px;
}

#x {
    margin-bottom: 10px;
}